*	{
  box-sizing: border-box;
}
body {
  background-color: beige;
  font-family: Lora, serif;
}
.project-pic {
  width: 25%;
  border: 2px solid green;
  transition: border 3s;

}
.project-pic:hover {
  border: 5px dashed red;
  width: 35%;
}
h1 {
  color: blue;
  font-family: Lato, 'sans serif';
  transition: color 2s;
}

h1:hover {
  color: green;
  font-family: monospace;
}
.navigation {
  width: 25%;
}
.navigation a {
  text-decoration: none;
  color: darkcyan;
  transition: color 3s;
}
.navigation:hover {
  background-color: dodgerblue;
}
.navigation:hover a{
  background-color: dodgerblue;
  color: white;
  font-weight: bolder;
}
h2 {
  background-color: darkred;
  color: ghostwhite;
  width: 30%;
  text-align: center;
  font-family: Lato, 'sans serif'
}
h3 {
  color: purple;
  font-family: Lato, 'sans serif';
}
.project-link {
  color: white;
  background-color: mediumblue;
  text-decoration: none;
  font-weight: bold;
}
.project-link:visited {
  color: red;
  background-color: white;
}
.project-link:hover {
  color: purple;
  background-color: white;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

#projects {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#projects-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  align-items: flex-start;
  margin: 1rem;
  transition: background-color 2s;
}



header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1rem;
}

nav li {
  display: inline;
}

.project:nth-child(odd) {
  background-color: yellowgreen;
  transition: background-color 2s;
}

.project:hover {
  background-color: dodgerblue;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

input:focus, textarea:focus {
  outline-color: green;
}

input[type=submit] {
  width: 20%;
  background-color: black;
  color: white;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}
